* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #1F2937;
    --accent: #3882F6;
    --hero-primary-text: #F9FAF8;
    --hero-secondary-text: #E5E7EB;

}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header */
.header {
    background-color: var(--primary);
    padding: 24px 10%;
    display: flex;
    justify-content: flex-end;
}

.header-logo {
    font-size: 24px;
    color: var(--hero-primary-text);
}

.header-links {
    display: flex;
    margin-left: auto;
    list-style: none;
    gap: 18px;
}

.header-links a {
    font-size: 18px;
    color: var(--hero-secondary-text);
    text-decoration: none;
}

/* Hero */
.hero {
    background-color: var(--primary);
    padding: 96px 10%;
    display: flex;
    gap: 12px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 40%;
}

.hero-primary-text {
    font-size: 48px;
    font-weight: 700;
    color: var(--hero-primary-text);
}

.hero-secondary-text {
    font-size: 18px;
    color: var(--hero-secondary-text);
    flex-wrap: wrap;

}

.hero-button {
    background-color: var(--accent);
    padding: 4px 24px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--hero-primary-text);
}

.hero-image {
    flex: 1;
}

.hero-image img {
    width: 100%;
    height: auto;
}